<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Music for you</ion-title>
  </ion-toolbar>

  <div class="music">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/The_Weeknd_-_After_Hours.png">
      </ion-thumbnail>
      <ion-label>Blinding Lights</ion-label>
      <ion-subtitle>3:57</ion-subtitle>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0b/Astroworld_by_Travis_Scott.jpg">
      </ion-thumbnail>
      <ion-label>Sicko Mode</ion-label>
      <ion-subtitle>4:10</ion-subtitle>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://images.genius.com/56ec150bb5e1c23c1ddedeb89471cfdf.1000x1000x1.png">
      </ion-thumbnail>
      <ion-label>Shivers</ion-label>
      <ion-subtitle>5:19</ion-subtitle>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://images.genius.com/56ec150bb5e1c23c1ddedeb89471cfdf.1000x1000x1.png">
      </ion-thumbnail>
      <ion-label>Bad Habits</ion-label>
      <ion-subtitle>4:20</ion-subtitle>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/ad/LANYMalibuNights.png">
      </ion-thumbnail>
      <ion-label>Malibu Nights</ion-label>
      <ion-subtitle>3:15</ion-subtitle>
    </ion-item>



  </div>
</ion-content>
