
<ion-header>
  <ion-toolbar>
    <ion-title>mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   
    <ion-item lines="full" >
      <ion-badge>100 </ion-badge>
        <ion-label color="dark">
        Social
      </ion-label>
      <ion-icon name="star-outline" slot ="end"></ion-icon>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        Olenna Mason
      </ion-label>
      <ion-icon name="star-outline" slot ="end"></ion-icon>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        Jason Derulo
      </ion-label>
      <ion-icon name="star-outline" slot ="end"></ion-icon>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>
        <ion-badge>10</ion-badge>
        Chris Hemsworth
      </ion-label>
      <ion-icon name="star-outline" slot ="end"></ion-icon>
    </ion-item>
    <ion-item lines="full" color="warning">
      <ion-icon name="logo-reddit"></ion-icon>
      <ion-label>
        Reddit
      </ion-label>
      <ion-icon name="star-outline" slot ="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-item lines="full">
    <ion-label>
      <ion-badge>10</ion-badge>
      Boss
    </ion-label>
    <ion-icon name="star-outline" slot ="end"></ion-icon>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <ion-badge>10</ion-badge>
      Bill Gates
    </ion-label>
    <ion-icon name="star-outline" slot ="end"></ion-icon>
  </ion-item>
  

</ion-content>
