<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        ACT3
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mail">
      <ion-label>Mail</ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-label>Music</ion-label>
      <ion-icon name="musical-notes"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>
