<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="card1">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>
          Better News
        </ion-card-subtitle>
        <ion-card-title>Obama joins NBA</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="ion-padding">
        Ex US President Barack Obama decides what better for the future of USA,
        and that is him, joining NBA.
      </div>
        <ion-button size="small" color="tertiary">Read More</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
  <div id="card2">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>Better News</ion-card-subtitle>
        <ion-card-title>China wants to be part of USA</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="ion-padding">
        China Executive - Xi Jin Ping wants to be part of the USA, people
        are skeptic on whats next to happen.
      </div>
        <ion-button size="small" color="tertiary">Read More</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div id="card3">
    <ion-card>
      <ion-card-header color ="primary">
        <ion-card-subtitle>Better News</ion-card-subtitle>
        <ion-card-title>Philippines enters top 10 Richest Countries</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="ion-padding">
        Philippines enters a peak $6.07B GNI this 2035 and expected to be
        one of the most richest country in the past 10 years.
      </div>
        <ion-button size="small" color="tertiary">Read More</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
